/* Reset geral de margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2fdf2;
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Container principal */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
  background-color: #2e8b57;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 73px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f2fdf2;
}

/* Botão de menu hambúrguer */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 200;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Overlay para quando o menu estiver aberto */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.menu-overlay.active {
  display: block;
}

/* Formulário de Adicionar Pet */
.pet-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 600px;
  width: 100%;
  margin: 15px auto;
}

.pet-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* Estilo dos campos de entrada */
.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #000;
  outline: none;
}

/* Botão */
.btn {
  background-color: #2e8b57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  background-color: #236b42;
}

/* Rodapé */
footer {
  background-color: #282a35;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: auto;
  height: 49px;
}

footer p {
  font-size: 0.9rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    margin-left: 160px;
  }

  nav ul {
    position: fixed;
    flex-direction: column;
    background-color: #2e8b57;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    padding-top: 80px;
    transition: right 0.3s ease;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
  }

  nav ul.active {
    right: 0;
  }

  nav ul li {
    margin: 10px 0;
    width: 100%;
    padding: 10px 20px;
  }

  /* Estilos para menu hambúrguer ativo */
  .menu-toggle.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  header h1 {
    font-size: 2rem;
  }

  header {
    text-align: left;
  }

  .pet-form {
    padding: 20px;
    max-width: 90%;
  }

  .form-group input,
  .form-group select {
    padding: 8px;
    font-size: 0.9rem;
  }

  .btn {
    font-size: 1rem;
    padding: 12px;
  }
}
