/* Estilos gerais */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2fdf2;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
}

/* Cabeçalho */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
  background-color: #2e8b57;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 73px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 200;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.menu-overlay.active {
  display: block;
}

/* Formulário de adicionar produto */
.produto-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  background-color: #236b42;
}

/* Footer */
footer {
  background-color: #282a35;
  color: white;
  text-align: center;
  margin-top: auto;
  width: 100%;
  position: relative;
  height: 49px;
}

/* Responsividade */
@media (max-width: 600px) {
  .produto-form {
    width: 90%;
  }

  .menu-toggle {
    display: flex;
    margin-left: 160px;
  }

  nav ul {
    position: fixed;
    flex-direction: column;
    background-color: #2e8b57;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    padding-top: 80px;
    transition: right 0.3s ease;
    align-items: flex-start;
  }

  nav ul.active {
    right: 0;
  }

  nav ul li {
    margin: 10px 0;
    width: 100%;
    padding: 10px 20px;
  }

  /* Animação do botão hambúrguer */
  .menu-toggle.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}
