/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f2fdf2;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Cabeçalho */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #2e8b57;
  padding: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 200;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.menu-overlay.active {
  display: block;
}

.produtos-list {
  margin: 15px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
}

.produtos-list h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  position: relative;
}

.produtos-list h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #2e8b57;
  margin: 15px auto 0;
}

.produtos-grid { 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
  margin-top: 25px;
}

.produto-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #eee;
  padding: 0; 
}

.produto-card:hover { 
  transform: translateY(-3px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.produto-card strong {
  font-weight: bold;
}

body > main > section > img { 
  width: 100%;
}

.produto-card img { 
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.produto-card h3 { 
  font-size: 20px; 
  color: #333;
  margin: 15px 0 10px;
  padding: 0 15px;
}

.produto-card p { 
  color: #666;  
  margin: 8px 0 3%; 
  padding: 0 15px;
  font-size: 16px; 
}

.produto-card p strong { 
  color: #444;
  font-weight: 600; 
}

.produto-card .btn {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 15px auto; 
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center; 
  display: block;
  width: 94%; 
  margin-top: auto; 
}

.produto-card .btn:hover {
  background-color: #236b42;
}

/* Rodapé */
footer {
  background-color: #282a35;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  height: 49px;
}

/* Seção Product Details */
section.produto-details {
  background-color: #fff;
  padding: 4%;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1.title {
  text-align: center;
  padding-top: 2%;
}

/* Responsividade */
@media (max-width: 992px) {
  .produtos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  header .container {
    flex-direction: row; 
    text-align: center;
  }

  .menu-toggle {
    display: flex; 
    margin-left: 160px; 
  }


  nav ul {
    margin-top: 0px; 
    text-align: left; 
    position: fixed;
    flex-direction: column;
    background-color: #2e8b57;
    top: 0;
    right: -100%; 
    width: 70%;
    height: 100vh;
    padding: 80px 0 0 0; 
    transition: right 0.3s ease;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    align-items: flex-start; 
  }

  nav ul.active {
    right: 0;
  }

  nav ul li {
    margin: 10px 0; 
    width: 100%;    
    padding: 10px 20px; 
  }

  .produto-card {
    padding: 15px;
    height: auto;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .produtos-grid {
    grid-template-columns: 1fr; 
  }

  .produtos-list { 
    padding: 20px;
  }

  .produto-card img { 
    height: 180px;
  }
}