<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Pet - Adote um Pet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adicionar_pet.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Adote um Pet</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('views.AdotePet') }}">Início</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="pet-form">
            <h2>Adicionar Pet</h2>
            <form method="POST" action="{{ url_for('views.adicionar_pet') }}">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="idade">Idade:</label>
                    <input type="number" id="idade" name="idade" required>
                </div>
                <div class="form-group"> 
                    <label for="tipo">Tipo</label>
                    <input type="text" id="tipo" name="tipo" required>
                </div>
                <div class="form-group">
                    <label for="raca">Raça:</label>
                    <input type="text" id="raca" name="raca" required>
                </div>
                <div class="form-group">
                    <label for="porte">Porte:</label>
                    <select id="porte" name="porte" required>
                        <option value="pequeno">Pequeno</option>
                        <option value="medio">Médio</option>
                        <option value="grande">Grande</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="vacinacao">Vacinação:</label>
                    <input type="text" id="vacinacao" name="vacinacao">
                </div>
                <div class="form-group">
                    <label for="localizacao">Localização:</label>
                    <input type="text" id="localizacao" name="localizacao" required>
                </div>
                <button type="submit" class="btn">Adicionar Pet</button>
            </form>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 WePet. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>