<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WePet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adicionar_produto.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Adote um Pet</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('views.AdotePet') }}">Início</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="produto-form">
            <h2>Adicionar Produto</h2>
            <form method="POST" action="{{ url_for('views.adicionar_produto') }}">
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" id="titulo" name="titulo" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" name="descricao" required>
                </div>
                <div class="form-group">
                    <label for="preco">Preço:</label>
                    <input type="number" id="preco" name="preco" required>
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria:</label>
                    <input type="text" id="categoria" name="categoria" required>
                </div>
                <button type="submit" class="btn">Adicionar produto</button>
            </form>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 WePet. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>