<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Adote um Pet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/menu-mobile.js') }}"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>We❤️Pet</h1>
            <div class="menu-toggle" id="mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav>
                <ul id="nav-menu">
                    <li><a href="{{ url_for('views.AdotePet') }}">Início</a></li>
                    <li><a href="{{ url_for('auth.registro') }}">Cadastrar</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="menu-overlay" id="menu-overlay"></div>

    <main class="container">

        <div class="hero">
            <section >
                <div class="collage">
                <img src="{{ url_for('static', filename='img/banner-cachorros.png') }}" alt="Animais" />
                </div>
            </section>

            <section class="auth-form">
                <form method="POST" action="{{ url_for('auth.login') }}">
                    <h2>Bem-vindo!</h2>
                    <p>Faça login para acessar a plataforma:</p>
                    <div class="form-group">
                        <input type="email" id="email"  placeholder="E-mail" name="email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="senha" placeholder="Senha" name="senha" required>
                    </div>
                    <button type="submit" class="btn">Entrar</button>
                </form>
                <p>Não tem uma conta? <a href="{{ url_for('auth.registro') }}">Cadastre-se aqui</a>.</p>
            </section>
        </div>

        <section class="pets-grid">
            <h2>Pets que já encontraram um lar!🐾</h2>
            <div class="grid">
              <div class="pet-card">
                <img src="{{ url_for('static', filename='img/card-01.jpg') }}" alt="Pet 1" />
                <p>Rex - 2 anos</p>
              </div>
              <div class="pet-card">
                <img src="{{ url_for('static', filename='img/card-02.jpg') }}" alt="Pet 2" />
                <p>Balto - 1 ano</p>
              </div>
              <div class="pet-card">
                <img src="{{ url_for('static', filename='img/card-03.jpg') }}" alt="Pet 3" />
                <p>Bolinha - 3 anos</p>
              </div>
              <div class="pet-card">
                <img src="{{ url_for('static', filename='img/card-04.jpg') }}" alt="Pet 4" />
                <p>Chico - 4 meses</p>
              </div>
            </div>
          </section>
        
    </main>

    <footer>
        <div class="container-footer">
            <p>&copy; 2025 WePet. Todos os direitos reservados.</p>
        </div>
    </footer>
    
    <script> menuMobile()</script>
</body>
</html>